<div class="container mt-4">
  <h2>Empleados</h2>
  <button class="btn btn-primary mb-3" (click)="crearEmpleado()">Crear Empleado</button>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Editar</th>
        <!--<th>Id</th>-->
        <th>Nombre</th>
        <th>Correo</th>
        <th>Edad</th>
        <!--<th>Área</th>-->
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empleado of empleados">
        <td>
          <button class="btn btn-warning" (click)="editarEmpleado(empleado.idEmpleado)">Editar</button>
        </td>
        <!--<td>{{ empleado.idEmpleado }}</td>-->
        <td>{{ empleado.nombreEmpleado }}</td> 
        <td>{{ empleado.correoElectronico }}</td> 
        <td>{{ empleado.edad }}</td>
        <!--<td>{{ empleado.area?.nombreArea }}</td>--> 
        <td>
          <button class="btn btn-danger" (click)="eliminarEmpleado(empleado.idEmpleado)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
