<div class="container mt-4">
  <h2>Áreas</h2>
  <button class="btn btn-primary mb-3" (click)="crearArea()">Crear Área</button>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let area of areas">
        <td>{{ area.idArea }}</td>
        <td>{{ area.nombreArea }}</td>
        <td>
          <button class="btn btn-danger" (click)="eliminarArea(area.idArea)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
